*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    height: 100vh;
    position: relative;
}

.circle{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: grow 5s forwards;
    border-radius: 50%;
    position: absolute;
}

@keyframes grow {
    0%{
        transform: scale(1);
        opacity: 1;
        font-size: 10px;
    }

    100%{
        transform: scale(3);
        opacity: 0;
        font-size: 40px;
    }
}