*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    height: 100vh;
    padding: 30px;
    color: white;
}

.container{
    width: 100%;
    height: 100%;
    max-width: 90%;
    max-height: 90%;
    padding: 30px;
    background-color: blueviolet;
}

input{
    width: 300px;
    height: 2rem;
    border-radius: 5px;
    border: 0px solid blueviolet;
}

button{
    height: 2rem;
    width: 60px;
    border-radius: 5px;
    border: 0px solid blueviolet;
}

.form{
    margin-bottom: 10px;
}
h2{
    margin-bottom: 30px;
}