*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: black;
    color: white;
    text-align: center;
}

#first{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 30px;
    flex-wrap: wrap;
}

.user{
    width: 200px;
    text-align: center;
    /* padding: 5px; */
    border: 2px solid rgb(38, 36, 36);
    border-radius: 5px;
    transition: transform 0.3s ease-in;
}

.user:hover{
    transform: scale(1.05);
}

img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;


}

h1{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2{
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}

a{
    text-decoration: none;
    color: orange;
    display: block;
    margin-bottom: 10px;
}