*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: rgb(44, 43, 43);
    padding: 30px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin-top: 70px;
    width: 100%;
    max-width: 60%;
    background-color: rgb(221, 217, 224);
    padding: 40px;
    border-radius: 10px;
}

.option {
    display:block;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  

  h1,h3{
    font-weight: 600;
  }
  h1{
    margin-bottom: 10px;
  }

  .submit-btn{
    background-color: blue;
    color: white;
    width: 100%;
    max-width: 70%;
    padding: 10px;
    border-radius: 8px;
    border: 0px solid rgb(221, 217, 224) ;
    margin-top: 10px;
    margin-bottom: 20px;
  }