*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.container{
    background-color: beige;
    height: 50px;
    width: 900px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    font-size: 30px;
    font-weight: 600;
    color: blueviolet;
    white-space: nowrap;
    overflow: hidden;
}

p{
    margin-left: 100%;
    animation-name: moving;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

@keyframes moving {
    from{
        margin-left: 100%;
    }
    to{
        margin-left: -100%;
    }
}