*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: gray;
}

.container{
    padding: 20px;
    position: relative;
}
.box{
    height: 100px;
    width: 150px;
    background-color: blueviolet;
    border: 2px solid beige;
    border-radius: 5px;
    animation-name: moving;
    animation-duration: 5s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-delay: 1s;
    /* animation-fill-mode: forwards; */
    position: absolute;
}

@keyframes moving {
    0%{
        background-color: rgb(208, 205, 20);
        top:10px;
        left:10px;
    }
    25%{
        background-color: rgb(208, 26, 26);
        top:20px;
        left:1000px;
    }
    50%{
        background-color: rgb(10, 100, 86);
        top:500px;
        left:1000px;
    }
    75%{
        background-color: rgb(41, 21, 96);
        top:500px;
        left:20px;
    }
    100%{
        background-color: rgb(41, 21, 96);
        top:20px;
        left:50px;
    }
}