*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}
#container{
    background-color: rgb(169, 28, 28);
    height: 200px;
    width: 300px;
    position: relative;
}

.rectangle{
    background-color: rgb(17, 17, 139);
    height:100px;
    width: 300px;
    position: absolute;
    top: 50px;
}

.circle{
    background-color: white;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    top:10px;
    left:110px;
}

/* 
#out{
    height: 300px;
    width: 500px;
    background-color: white;
    border:2px solid white;
    border-radius: 10px;
    position: relative;
    left: 20px;

}

#inner{
    height: 100px;
    width: 100px;
    background-color: red;
    border:2px solid white;
    border-radius: 50%;
    position: absolute;
    left:200px;
    top:100px;
}

#container{
    height:200px;
    width:400px;
    background-color: rgb(217, 217, 11);
    position: relative;
}

.box{
    background-color: blue;
    box-sizing: border-box;
}
.first, .third{
    height:90px;
    width:100px;
}
.first{
    position: absolute;
    top: 0;
    left: 0;
}

.third{
    position: absolute;
    bottom: 0;
    left: 0;
}

.second, .fourth{
    height:90px;
    width:280px;
}

.second{
    position: absolute;
    top: 0;
    right: 0;
}
.fourth{
    position: absolute;
    bottom: 0;
    right: 0;
} */