*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100%;
    max-width: 50%;
    background-color: blueviolet;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

input{
    border-radius: 6px;
    padding: 5px;
    border: 2px solid blueviolet;
    width: 100%;
    max-width: 90%;
}

button{
    border: 2px solid blueviolet;
    border-radius: 10px;
    padding: 8px 20px;
    width: 100%;
    max-width: 90%;
}