*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(46, 43, 43);
}

.container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: dodgerblue;
    padding: 10px;
    gap: 10px;
    height: 400px;
    width: 400px;
}

.first{
    background-color: orange;
}

.second{
    background-color: aquamarine;
}

.third{
    background-color: blueviolet;
}

.fourth{
    background-color: brown;
}