*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color: gray;
}

.container{
    display: flex;
    background-color: rgb(205, 239, 171);
    padding: 10px;
    gap: 10px;
}

.box{
    height: 200px;
    width: 200px;
}

.first{
    background-color: rgb(20, 207, 144);
}

.second{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.child{
    height: 140px;
    background-color: brown;
} 