*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgb(100, 95, 95);
    height: 200px;
    width: 200px;
    text-align: center;
    overflow: scroll;
    /* box-shadow: 0px 0px 5px 0px blueviolet; */
    /* background-color: rgb(228, 228, 35);
    border-radius: 50%;
    box-shadow:0px 0px 5px 10px red ;
    height: 200px;
    width: 200px; */
}