*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    height: 200px;
    width: 900px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

img{
    height: 100%;
    width: 100%;
} 

@media screen and (max-width:900px){
    .container{
        display: grid;
        height: 400px;
        width: 400px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px
        ;
    }
}

@media screen and (max-width:500px){
    .container{
        height: 900px;
        width: 400px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
        padding: 20px;
    }
}