*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
}

.container{
    height: 300px;
    width: 300px;
    font-size: 30px;
    background-color: blueviolet;
}

@media screen and (max-width:400px){
    .container{
        height: 300px;
        width: 400px;
        background-color: aquamarine;
        font-size: 30px;
    }
}

@media screen and (min-width:800px){
    .container{
        background-color: orange;
        font-size: 40px;
    }
}